html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}


h1 {
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 16px;  
  color: #ffffff;
}


html {
  background-color: #0d4966;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #0d4966;
  padding: 0 20px 20px 20px;
  border: 5px solid #ffffff;
}

h1 {
  margin: 0;
  padding: 20px 0;  
  color: #ffffff;
}

img {
  display: block;
  margin: 0 auto;
}

figure figcaption {
  color: #ffffff;
  font-size: 24px;
  text-align: center;
}

.description {
  padding-top: 16px;
}